

.homepage__area__group {
    display: flex;
}

.homepage__area {
    padding: 20px;
}

.homepage__board {
    display: flex;
    width: 50%;
    height: 400px;
    flex-direction: column;
}

body h2 {
    display: flex;
    font-size:40px;
    margin-bottom: 15px;
    
    padding-bottom: 5px;
    color: #FE2EC8;
    font-weight: 600;
    border-bottom: 3px solid #A901DB;
    font-weight: 800;
    
}

.homepage__media {
    width: 50%;
}

.homepage__news {
    width: 100%;
}

.homepage__news__area {
    display: flex;
    width: 33%;
}

.homepage__news__area__group {
    display: flex;
    margin-top: 20px;
    justify-content: space-around;
}

.homepage__news__area__group i {
    margin-right: 5px;
}

.homepage__board__write__group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-weight: 340;
}

.homepage__board__write__group a {
    text-decoration-line: none;
    color: black;
}

.slider {
    width: 640px;
    height: 842px;
}

.imgs img {
    width: 640px;
    height: 842px;
}

.news__link {
    display: block;
}