.login__main {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login__box {
    margin-top: 150px;
    justify-content: center;
    width: 70vh;
    height: 40vh;
    border: 5px solid #F5A9F2;
    border-radius: 20px;
}

.login__header {
    margin: 30px;
}

.login__form {
    display: flex;
    flex-direction: column;
    padding: 0;
}

.login__form>input {
    width: 250px;
    height: 40px;
    margin: 5px 10px 5px;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid white;
    padding-left: 5px;
}

.login__button {
    height: 100px;
    width: 70px;
    margin: 5px 10px 5px;
    background-color: #F781F3;
    color:white;
    border: 1px solid white;
    border-radius: 10px;
}

.login__button:focus-within {
    border: 1px solid black;
    color: black;
    background-color: #F5A9F2;
}

.login__container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.login__info {
    display: flex;
    justify-content: center;
    list-style: none;
}

.login__info>li {
    padding: 0 8px;
}

.login__info>li:first-child {
    border-right: 1px solid black;
}

.login__info>li:nth-child(2) {
    border-right: 1px solid black;
}