html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html {
    background-color: #F8EFFB;
}

a {
	text-decoration:none;
	color:black;
}

.header {
	margin-top: 58px;
}

.nav {
	box-sizing: border-box;
	width: 95%;
	bottom: 90px;
	display: flex;
	justify-content: space-between;
	margin-left:40px;
	position: fixed;
}
.pagenumber_group {
	display: flex;
	left: 50px;
	width: 250px;
	height: 30px;
	border-radius: 100px;
}

.pagenumber {
	width: 15px;
	height: 15px;
	font-size: 13px;
	padding: 10px;
	display: flex;
	justify-content: center;
	border: 0.3px solid rgba(198,43,177,0.5);
}

.pagenumber:hover {
	color:white;
	background-color: rgba(155,31,138,1);
}

.now__page {
	border-bottom: 1px solid #F781F3;
	padding: 0 5px;
}